<% include partials/header %>
<body>
	<div class="loader"></div>
	<div id="page">
		<% include partials/navbar %>

		<aside id="hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/b1.jpg);">
						<div class="overlay-gradient"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner">
										<h1>Shri Shankaracharya Institute of Professional Management and Technology, Raipur</h1>
										<h2>Welcomes you <a href="#" target="_blank"></a></h2>
										<p><a class="btn btn-primary btn-lg" href="#">Start Learning Now!</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/b2.jpg);">
						<div class="overlay-gradient"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner">
										<h1>The Great Aim of Education is not Knowledge, But Action</h1>
										<h2> <a href="#" target="_blank"></a></h2>
										<p><a class="btn btn-primary btn-lg btn-learn" href="#">Start Learning Now!</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/b3.jpg);">
						<div class="overlay-gradient"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner">
										<h1>We Help You to Learn New Things</h1>
										<h2> <a href="#" target="_blank"></a></h2>
										<p><a class="btn btn-primary btn-lg btn-learn" href="#">Start Learning Now!</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>

		<div id="course-categories">
			<div class="container">
				<div class="row animate-box">
					<h2 class="text-center">About SSIPMT</h2>
					<p class="text-center">Affiliated to Chhattisgarh Swami Vivekanand Technical University</p>
					<div class="col-md-6 col-md-offset-0">
						<h2></h2>
						<p> <span id="">Affiliated to Chhattisgarh Swami Vivekanand Technical University(CSVTU), Bhilai
								Approved by All India Council for Technical Education(AICTE), New Delhi</span>

							Lavishly spread over 17 acres of lush green and pollution free environment, SSIPMT has created a
							unique atmosphere of educational excellence in the capital city of Raipur. The institute was
							established in the year 2008 with due approval from All India Council of Technical Education
							(AICTE), New Delhi. Our Institute has been found to be of Quality Management System Standard ie.
							ISO Certified (NS-EN ISO 9001 : 2015 / ISO 9001 : 2015). SSIPMT aims to provide best quality
							Engineering and Management education to its students and strives to inculcate the best of its
							cultural heritage in the future leaders of the corporate world. SSIPMT is proud to have achieved
							extraordinary university results all these years since its inception in 2008. Imparting education
							in almost all major streams of engineering and management, SSIPMT has left no stone unturned for
							the betterment and progress of its students and hence, the society as a whole. To achieve its aim
							SSIPMT provides multi-faceted learning to its students. We have a team of dedicated and learned
							teachers inculcating value-based education to the students. Also a highly dynamic and full blown
							Training and Placement Department provides each and every student a fair chance to transform
							themselves into a professional and commence their career as soon as they complete their course.</p>
					</div>
					<div class="col-md-6 photo" style="background-image: url(images/books.png);">
					</div>
				</div>
			</div>
		</div>

		<div id="counter" class="counters" style="background-image: url(images/b2.jpg);"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-world"></i></span>
								<span class="counter js-counter" data-from="0" data-to="1000" data-speed="5000"
									data-refresh-interval="50"></span>
								<span class="counter-label">Placements</span>
							</div>
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-study"></i></span>
								<span class="counter js-counter" data-from="0" data-to="100" data-speed="5000"
									data-refresh-interval="50"></span>
								<span class="counter-label">Company Visits on Campus</span>
							</div>
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-bulb"></i></span>
								<span class="counter js-counter" data-from="0" data-to="5" data-speed="5000"
									data-refresh-interval="50"></span>
								<span class="counter-label">Center for Excellence</span>
							</div>
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-head"></i></span>
								<span class="counter js-counter" data-from="0" data-to="16.34" data-speed="5000"
									data-refresh-interval="50"></span>
								<span class="counter-label">Highest salary offered</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="course">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center heading">
						<h2>ACADEMICS</h2>
						<p>Affiliated to Chhattisgarh Swami Vivekanand Technical University</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 animate-box">
						<div class="course">
							<a href="#" class="course-img" style="background-image: url(images/g4.jpg);">
							</a>
							<div class="desc">
								<h3><a href="#">Rules & Regulations</a></h3>
								<p>Every student must have a complete set of Drawing Instruments, Engineering Calculators, Steel
									woven tape, text books etc. on joining the College.</p>
								<span><a href="#" class="btn btn-primary btn-sm btn-course">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="course">
							<a href="#" class="course-img" style="background-image: url(images/g2.jpg);">
							</a>
							<div class="desc">
								<h3><a href="#">Academic Calender</a></h3>
								<p>As an institute affiliated to Chhattisgarh Swami Vivekanand Technical University, Bhilai,
									SSIPMT broadly follows the academic calendar as given by the University.</p>
								<span><a href="#" class="btn btn-primary btn-sm btn-course">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="course">
							<a href="#" class="course-img" style="background-image: url(images/g3.jpg);">
							</a>
							<div class="desc">
								<h3><a href="#">Teaching Departments</a></h3>
								<p>Departments we have are Computer Science, Civil Engineering, Electronics & Telecommunication, Mechanical Engineering, Information Technology,Department of Management Studies</p>
								<span><a href="#" class="btn btn-primary btn-sm btn-course">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="course">
							<a href="#" class="course-img" style="background-image: url(images/g1.jpg);">
							</a>
							<div class="desc">
								<h3><a href="#">Admissions</a></h3><br>
								<p>As per the policy laid down by the Supreme Court Article No. 40, the Government of
									Chhattisgarh has constituted the following rules for admission to the Engineering Colleges:
								</p>
								<span><a href="#" class="btn btn-primary btn-sm btn-course">Read more</a></span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- <div id="testimonial" style="background-image: url(images/school.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center heading">
						<h2><span>Testimonials</span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row animate-box">
							<div class="owl-carousel owl-carousel-fullwidth">
								<div class="item">
									<div class="testimony-slide active text-center">
										<div class="user" style="background-image: url(images/person1.jpg);"></div>
										<span>Mary Walker<br><small>Students</small></span>
										<blockquote>
											<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and
												Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
												at the coast of the Semantics, a large language ocean.&rdquo;</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<div class="user" style="background-image: url(images/person2.jpg);"></div>
										<span>Mike Smith<br><small>Students</small></span>
										<blockquote>
											<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a
												large language ocean.&rdquo;</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<div class="user" style="background-image: url(images/person3.jpg);"></div>
										<span>Rita Jones<br><small>Teacher</small></span>
										<blockquote>
											<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts.
												Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
												language ocean.&rdquo;</p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<div id="blog">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading">
						<h2>News &amp; Events</h2>
						<p>SSIPMT is in top of is game with major Recruiters are hiring , and various events every month.</p>
					</div>
				</div>
				<div class="row row-padded-mb">
					<div class="col-md-4 animate-box">
						<div class="event">
							<div class="date text-center"><span>13<br>Mar.</span></div>
							<h3><a href="#">Event that is doen</a></h3>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos eius quae quasi doloremque totam possimus minima vero sunt laudantium et.</p>
							<p><a href="#">Read More</a></p>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="event">
							<div class="date text-center"><span>13<br>Mar.</span></div>
							<h3><a href="#">Technical event on cpp</a></h3>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum autem quaerat nesciunt ipsam quidem est quae debitis, quia cum illo?.</p>
							<p><a href="#">Read More</a></p>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="event">
							<div class="date text-center"><span>17<br>Mar.</span></div>
							<h3><a href="#">Hackathon 3rd ROund</a></h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cupiditate error inventore dignissimos explicabo dolorem voluptatum pariatur quaerat excepturi omnis?.</p>
							<p><a href="#">Read More</a></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="blog animate-box">
							<a href="#" class="blog-img-holder" style="background-image: url(images/p1.jpg);"></a>
							<div class="blog-text">
								<h3><a href="#">Training Programmes</a></h3>
								<span class="posted_on">March. 15th</span>
								<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
								<p>SSIPMT is built to rule. The idea is to give the student not only academic knowledge but also to develop their skills in technical field. To reach up to its aim...</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="blog animate-box">
							<a href="#" class="blog-img-holder" style="background-image: url(images/p2.jpg);"></a>
							<div class="blog-text">
								<h3><a href="#">Facilities</a></h3>
								<span class="posted_on">March. 15th</span>
								<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
								<p>To keep the students interested and lively, we take care of their convenience. We provide the students with facilities like library, transportation and student-hostels..</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="blog animate-box">
							<a href="#" class="blog-img-holder" style="background-image: url(images/p3.jpg);"></a>
							<div class="blog-text">
								<h3><a href="#">Major Recruiters </a></h3>
								<span class="posted_on">March. 15th</span>
								<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
								<p>Our Major Recruiters of 2016 were Persistent, Wipro, XL Dynamics, KPIT, Igate, Genpact, Motif, TechMahindra, Capgemini, Ways 2 Capital, CoCubes, Interbiz, MphasiS, Shriram Capital, TCS, Collabera, Devanshi, Teleperformance.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="gallery" class="bg-section">
			<div class="row text-center">
				<h2><span>Instagram Gallery</span></h2>
			</div>
			<div class="row">
				<div class="col-md-3 col-padded">
					<a href="#" class="gallery" style="background-image: url(images/project-5.jpg);"></a>
				</div>
				<div class="col-md-3 col-padded">
					<a href="#" class="gallery" style="background-image: url(images/project-2.jpg);"></a>
				</div>
				<div class="col-md-3 col-padded">
					<a href="#" class="gallery" style="background-image: url(images/project-3.jpg);"></a>
				</div>
				<div class="col-md-3 col-padded">
					<a href="#" class="gallery" style="background-image: url(images/project-4.jpg);"></a>
				</div>
			</div>
		</div>

		<% include partials/footer %>